<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2022-2025</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor’s Degree in Software Engineering and Information Systems</div>
                                <h4 class="category"> Faculty of Sciences of Monastir</h4>
                                <ul>
                                    <li> Program focused on web and mobile development, multi-language programming (C, C++, C#, Java,
Python, JavaScript), computer networks (IPv4/IPv6), object-oriented and service-oriented architectures
(SOA), artificial intelligence (supervised and unsupervised algorithms), virtualization, cloud computing, and
containerization technologies such as Docker and Kubernetes. </li>
                                       
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
           
          
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-2021</p>
                        <div class="h5">Sedcondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Baccalauréat in Mathematics</div>
                                <h4 class="category">Sedcondary School(Mateur)</h4>
                                <ul>
                                        <li>I completed my Baccalauréat with a focus on Mathematics, Physics, Science, Languages, and Informatics, which helped me build a strong foundation in analytical thinking, problem-solving, and digital skills..</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               